version: "3.8"

services:
  dynamiq-app:
    image: dynamiq-app:${IMAGE_TAG:-local}
    build:
      target: develop
    volumes:
      - ./:/app

  dynamiq-app-test:
    image: dynamiq-app:${IMAGE_TAG:-local}
    build:
      target: develop
    entrypoint: ["make", "test"]
    env_file:
      - .env
    volumes:
      - ./:/app

  dynamiq-app-test-cov:
    image: dynamiq-app:${IMAGE_TAG:-local}
    build:
      target: develop
    entrypoint: ["make", "test-cov"]
    env_file:
      - .env
    volumes:
      - ./:/app
      - ./reports:/app/reports:wr
