name: Integration Tests With Creds

on:
  workflow_dispatch:
  pull_request:
    types: [labeled]

jobs:
  integration-tests-with-creds:
    name: Integration Tests With Creds
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event.label.name == 'run-integration-tests-with-creds' &&
       github.event.pull_request.head.repo.full_name == github.repository)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create .env file
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          envkey_UNSTRUCTURED_API_KEY: ${{ secrets.UNSTRUCTURED_API_KEY }}
          envkey_PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
          envkey_PINECONE_CLOUD: ${{ secrets.PINECONE_CLOUD }}
          envkey_PINECONE_REGION: ${{ secrets.PINECONE_REGION }}
          envkey_ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          envkey_GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          envkey_QDRANT_URL: ${{ secrets.QDRANT_URL }}
          envkey_QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}

      - name: Load Test Image
        uses: docker/bake-action@v5
        with:
          load: true
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
          targets: dynamiq-app-test

      - name: Run integration tests with creds
        run: docker compose up dynamiq-app-test-integration-with-creds --exit-code-from dynamiq-app-test-integration-with-creds
